@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <pre>
       Create a new c# console application, your application should has a menu of the following:

A-Name Printer

The user enters his Name, then your program should do the following:
print the name reversed.
print the name with capital letters.
print the name with small letters.
print if the Name is valid or not (Valid name contains letters only)

B-Countries Search.

The user enters a text, then your program should return the results of countries
that starts with that text.
Note: Countries can be in local storage.

C-Letters Counter.

Enter text:  The user enters a text, then your program should:
return the count of each letter in the text.
If there is an invalid character (Valid characters are letters only)
your program must show the invalid characters entered by the user.

D-Smart Calculator
The user enters 2 numbers (A, B), each number contains at most 4 digits after comma,
if the number contains more than 4 digits after comma, ignore these digits.
Then your program should do the following:
A divided by B => A/B.
Square root of A and B sum 
A raised to the power of B => AB .
Binary Numbers for A and B.

E-Week Description.

Enter Week day:The user enters a weekday,
then your program should print a description for the entered weekday.
Hint: use Enumerations for weekdays
   </pre>
</div>
