<div class="d-flex flex-column align-items-center">
    <a style="width: 40vw;" asp-controller="Services" asp-action="NamePrinter" class="btn btn-primary my-3 font-weight-bolder">Name Printer</a>
    <a style="width: 40vw;" asp-controller="Services" asp-action="CountriesSearch" class="btn btn-secondary my-3 font-weight-bolder">Countries Search</a>
    <a style="width: 40vw;" asp-controller="Services" asp-action="LettersCounter" class="btn btn-success my-3 font-weight-bolder">Letters Counter</a>
    <a style="width: 40vw;" asp-controller="Services" asp-action="SmartCalculator" class="btn btn-danger my-3 font-weight-bolder">Smart Calculator</a>
    <a style="width: 40vw;" asp-controller="Services" asp-action="WeekDescription" class="btn btn-warning my-3 font-weight-bolder">Week Description</a>
</div>

